/*
Hunter DeBlase
Mail Delivery Logging and Processing System
Creation Date: 11/30/2020
Last Modified: 2/18/2021
style.css
Stylesheet for the MDPLS web client.
*/
body{
    height: 100%;
    background-size: cover;
    background: linear-gradient(#d1c59e, #b6a368);
}

.head{
    height: 3em%;
    display: flex;
    background-color: #701932;
    text-align: center;
}

.inlineList{
    list-style: none;
    width=100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.inlineList a{
    display: block;
    padding: 1em;
    background-color:#701932;
    height: 100%;
    text-align: center;
    color: white;
    text-decoration: none;

}

.inlineList li{
    display: inline;
    float: left;
}

.inlineList li:first-child > a{
    background-color: gold;
    color: black;
}

h1, h2, h3{
    color: white;
}

.log{
    width=50%;
    margin: 0 auto;
    text-align: center;
}

.loghead{
    width: 33%;
    height: 5em;
    line-height: 5em;
    margin: 10em auto .5em auto;
    background-color: #701932;
    text-align: center;
}

input{
    display: block;
    width=50%;
    margin: 5 auto;
}

.line{
    display: inline;
}
